.milestone_reporting_container{
    display: flex;
    flex-direction: column;
    margin: 2vh;
    padding: 2vh;
}

.milestone_reporting_container table{
    font-size: .8rem;
    width: 100%;
}



#home_page_contents_bottom {
    color : white;
}


/*  */

.cm_main_container{
    background: transparent;
    min-height: 100vh;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}




.cm_nav_bar_container{
    /* background-color: red; */
    width: 100%;
    height: fit-content;
}

.cm_body_container{
    margin-top: 55px;
    /* background-color: blue; */
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}


.flag_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flag_1,.flag_2,.flag_3{
    margin-left: 2vh;
    font-size: smaller;
}

.flag_1{
    color: green;
}

.flag_2{
    color: orange;
}

.flag_3{
    color: red;
}
